<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="add_task">
      <form class="create" action="/create" method="post">
        <input type="text" name="itemName">
        <input type="submit" value="作成">
      </form>
    </div>
  </body>
</html>
